<%- include('../head') -%>
<%- include('../nav') -%>
<link rel="stylesheet" href="./stylesheets/indexChat.css">
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="./scripts/chatScript.js"></script>
<script defer>
  // // todo: add real time usercount
  // document.getElementById('countUsers').addEventListener('click', countUsers);
  // function countUsers() {
  //   const xhr = new XMLHttpRequest();
  //   xhr.open('POST', '/chat/usercount', true);
  
  //   xhr.onload = function(){
      
  //   }

  // }
</script>
  <body>
    <div class="main">
      <div id="room-container">
        <% rooms.forEach(room => { %>
          <div class="room">
            <div><%= room %></div>
            <%
            const countArrayUsers = users.filter(user => {
              return user.name == room;
            })
            %>
            <div id="countUsers"><%= countArrayUsers[0].countUser.length %> users</div>
            <a href="/chat/<%= room %>">Join</a>
          </div>
        <% }) %>
      </div>
      <form action="/chat/room" method="POST">
        <input name="room" type="text" required>
        <button class="create-newroom-button" type="submit">New Room</button>
      </form>
    </div>
  </body>
</html>